# xcode
.DS_Store
ios/InAppPurchaseIosExtension/InAppPurchaseIosExtension.xcodeproj/project.xcworkspace/xcuserdata
ios/InAppPurchaseIosExtension/InAppPurchaseIosExtension.xcodeproj/xcuserdata

# project
bin
build/build.config
build/build.bat

# android
android/.classpath
android/bin
android/gen

# as3
actionscript/.actionScriptProperties
actionscript/.flexLibProperties
actionscript/.project
actionscript/.settings/org.eclipse.core.resources.prefs
actionscript/bin

# idea
.idea/workspace.xml
